body {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-family: "Montserrat", sans-serif;

}

main, header {
    transform: translateY(-100px);

}

header h1 {
  font-size: 3rem;
}


.input-wrapper {
  position: relative;
  margin-bottom: 0.3rem; /* space between inputs */
}

.input-wrapper:nth-child(2) {
  margin-bottom: 1rem;
}

.input-wrapper img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  pointer-events: none;
  font-size: 1rem;
}

.input-wrapper input[type="email"],
.input-wrapper input[type="password"] {
  padding-left: 35px; /* space for icon */
  height: 50px;
  width: 100%; /* or a fixed width if you prefer */
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

.login-btn {
  width: 100%;
  height: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
} 

.google-btn, .facebook-btn{
    height: 50px;
    border-radius: 6px;
    margin-bottom: 1rem;

}


span {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

span:before, span:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
span:before {
  margin-right: 10px
}
span:after {
  margin-left: 10px
}

.google-btn img,
.facebook-btn img {
  vertical-align: middle;
  margin-right: 8px; /* or tweak spacing as needed */
  height: 20px; /* optional: normalize icon size */
  width: auto;
}

.remember-password {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-left {
  display: flex;
  align-items: center;
}

.remember-left input[type="checkbox"] {
  margin-right: 6px;
}

.fgt-password {
  color: royalblue;
  cursor: pointer;
  margin: 0;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}